<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel='stylesheet', href='../css/styles.css')  
  title Dash
body
  h1 Welcome 
    =username +'!'
  div#main-container
    div#monster
        p 
          =weightToGo +'/'+ health
        progress(id='health', value=weightToGo, max=health)    
      img(id="monster_img", src="./images/Monster.png", alt="")
    div#fitWarrior
      img(id="attack", src="./images/sword.png", alt="")    
    button(onclick='clickFunction()', type='submit') Attack With New Weight! 
    script.
        function clickFunction() {
          document.getElementById("popup").style.visibility = "visible";
        }
    //- form(action="/dash", method="post")
    //-   button(type="submit", value="friends") add friends
  p current weight: 
    =currentWeight 
  p goal weight: 
    =goalWeight 
  p 
    =weightToGo +' pounds to go!'   
    div#popup
      form(action="/dash", method="post")
        label Current Weight:
        input(type="text", name="currentWeight")
        button(id="newWeight", type="submit", value="weight") Submit
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")      
  script(src='/js/animation.js')      