<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel='stylesheet', href='../css/styles.css')    
  title FitFeed
body
  h1 FitFeed
  div#container
    div#post
      - for (var i=0; i<activity.length; i++)
        if activity[i].weightLost !== 0 && activity[i].weightLost > 0
          p 
            =activity[i].user +' lost '+activity[i].weightLost+' lbs!'
      p
        =username+' gained '+'2 points for signing in today!'  