<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title FitFeed
body
  h1 FitFeed
  div#container
    div#post
      - for (var i=0; i<activity.length; i++)
        p 
          =activity[i].user +' lost '+activity[i].weightLost+' lbs!'+activity[i].date  