doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel='stylesheet', href='../css/styles.css')  
  title Registration Page
body
  .header
    a(href="/")
      h1.logo Register
  #content
    form(action="/registration", method="post")
      label Username:
      input(type="text", name="username")
      label Password:
      input(type="password", name="password")
      button(type="submit", value="Register") Register